* {
  font-family: "Roboto", sans-serif;
}

.modal__stepOne {
  display: none;
  position: fixed;
  flex-direction: column;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.stepOne__content {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  padding: 10px 10px 10px 30px;
  width: 60%;
  max-width: 600px;
  height: 500px;
  margin: 15% auto;
}
.stepOne__content h1 {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 30px;
}
.stepOne__content p {
  margin: 0;
}
.stepOne__content input {
  width: 150px;
  height: 30px;
}
.stepOne__content button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  border-radius: 2px;
  border: none;
  background-color: rgb(129, 71, 216);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: white;
  margin-top: 200px;
}

.modal__stepTwo {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.stepTwo__content {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  padding: 10px 10px 10px 30px;
  width: 60%;
  max-width: 600px;
  height: 500px;
  margin: 15% auto;
}
.stepTwo__content h1 {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 30px;
}
.stepTwo__content p {
  margin: 0;
}
.stepTwo__content input {
  width: 270px;
  height: 30px;
}
.stepTwo__content button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  border-radius: 2px;
  border: none;
  background-color: rgb(129, 71, 216);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: white;
  margin-top: 200px;
  padding: 0 10px 10px 0;
}

.modal__stepThree {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.stepThree__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px 10px 10px 30px;
  width: 60%;
  max-width: 600px;
  height: 500px;
  margin: 15% auto;
}
.stepThree__content h1 {
  font-size: 40px;
  font-weight: 100;
}
.stepThree__content a {
  color: rgb(129, 71, 216);
}

.modal__select {
  width: 200px;
}
.modal__select div {
  display: flex;
  height: 25px;
  padding: 5px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 3px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border: 1px black solid;
}
.modal__select div i {
  font-size: 15px;
}
.modal__select ul {
  display: none;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid black;
  background: white;
  justify-content: left;
}
.modal__select li {
  display: flex;
  height: 20px;
  padding: 5px;
  border-radius: 3px 0px 3px 0px;
  cursor: pointer;
  align-items: center;
  border: 1px #e3170a solid;
  font-size: 18px;
}
.modal__select li:hover {
  background: #f2f2f2;
}

.modal__select.active ul {
  display: block;
}/*# sourceMappingURL=book.css.map */