$red: #e3170a;
$lightblue: #8acfe5;
$blue: #36769d;
$darkblue: #011827;
$shadow: #b6bdb5;
$white: #ffffff;

$width-340: 340px;
$width-341: 341px;
$width-390: 390px;
$width-480: 480px;
$width-575: 575px;
$width-650: 650px;
$width-745: 745px;
$width-900: 900px;
$width-1070: 1070px;
$width-1180: 1180px;
$width-1280: 1280px;
$width-1500: 1500px;
$width-1920: 1920px;

@mixin breakpoint($point) {
  

  @if $point ==width-340 {
      @media (max-width: $width-340) {
          @content;
      }
  }

  @if $point ==width-341 {
      @media (min-width: $width-341) {
          @content;
      }
  }

  @if $point ==width-390 {
    @media (max-width: $width-390) {
        @content;
    }
}

  @if $point ==width-480 {
      @media (min-width: $width-480) {
          @content;
      }
  }

  @if $point ==width-650 {
      @media (max-width: $width-650) {
          @content;
      }
  }

  @if $point ==width-575 {
    @media (max-width: $width-575) {
        @content;
    }
}

  @if $point ==width-745 {
      @media (max-width: $width-745) {
          @content;
      }
  }

  @if $point ==width-900 {
      @media (max-width: $width-900) {
          @content;
      }
  }

  @if $point ==width-1070 {
      @media (max-width: $width-1070) {
          @content;
      }
  }

  @if $point ==width-1180 {
      @media (max-width: $width-1180) {
          @content;
      }
  }

  @if $point ==width-1280 {
      @media (min-width: $width-1280) {
          @content;
      }
  }

  @if $point ==width-1500 {
      @media (min-width: $width-1500) {
          @content;
      }
  }

  @if $point ==width-1920 {
      @media (min-width: $width-1920) {
          @content;
      }
  }
}

.filterContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 48px;
    color: $darkblue;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
  }
  button {
    display: block;
    border-color: $red;
    border-style: solid;
    border-radius: 4px;
    width: 180px;
    height: 50px;
    background-color: $white;
    font-size: 20px;
    color: $red;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: px;
  }
}

.filterButton:hover {
  background-color: $red;
  color: $white;
  cursor: pointer;
}

.filterWindow {
  display: none;
  width: 85vw;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
  border-style: solid;
  border-color: $shadow;
  h2 {
    flex-basis: 50%;
    padding: 0;
    margin: 0;
    color: $darkblue;
  }
  .closeFilter {
    display: flex;
    flex-basis: 50%;
    flex-direction: row-reverse;
    color: $darkblue;
  }
  h3 {
    flex-basis: 33%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    color: $darkblue;
    @include breakpoint(width-900) {
      text-align: center;
    }
  }
  ul {
    list-style-type: none;
    padding: 0px;
    flex-basis: 33%;
    margin: 0;
  }
  li {
    color: $darkblue;
    font-weight: 500;
    font-size: 18px;
    @include breakpoint(width-900) {
      font-size: 16px;
    }
    @include breakpoint(width-745) {
      font-size: 14px;
    }
    @include breakpoint(width-650) {
      font-size: 12px;
    }
  }
}

#online,
#onsite {
  color: #011827;
}

#online,
#onsite:checked {
  color: $red;
}

.fa-x {
  font-size: 30px;
  margin-bottom: 75px;
  &:hover {
    cursor: pointer;
    transform: scale(0.8);
  }
}

.starBox {
  display: flex;
  flex-direction: row;
  height: 1px;
  flex-basis: 33%;
  @include breakpoint(width-1070) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  p {
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 20px;
    @include breakpoint(width-1180) {
      font-size: 18px;
    }
    @include breakpoint(width-650) {
      font-size: 16px;
    }
    }
}

.fa-star {
  color: $white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $red;
  font-size: 18px;
  margin: 2px;
  @include breakpoint(width-1180) {
    font-size: 16px;
  }
  @include breakpoint(width-650) {
    font-size: 14px;
  }
  @include breakpoint(width-575) {
    font-size: 12px;
  }
  &:hover {
    cursor: pointer;
  }
}

.starBox__Star i,
.starBox__Star i:hover ~ i,
.starBox__Star i,
.starBox__Star i:hover ~ i {
  color: $white;
  text-shadow: none;
  transition: color 200ms;
  cursor: pointer;
}

.starBox__Star:hover i,
.starBox__Star:hover i {
  color: $red;
  cursor: pointer;
}

.starBox__Star i.checked {
  color: $red;
}

.filterButtonBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 34%;
  flex-direction: row;
  height: 100px;
  gap: 10px;
  justify-content: center;
  position: relative;
  @include breakpoint(width-1180) {
    max-width: 300px;
  }
  @include breakpoint(width-745) {
    overflow-y: scroll;
    height: 130px;
  }
  label {
    height: 30px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: $red;
    background-color: $white;
    font-size: 18px;
    font-weight: 700;
    color: $red;
    font-family: Roboto, sans-serif;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    cursor: pointer;
    @include breakpoint(width-1180) {
      font-size: 16px;
      height: 25px;
      line-height: 25px;
    }
    @include breakpoint(width-900) {
      font-size: 14px;
    }
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
}

label.active {
  background-color: $red;
  color: $white;
}

.filterInputBox {
  margin: auto;
  margin-top: 75px;
  @include breakpoint(width-1180) {
    margin-top: 50px;
  }
  @include breakpoint(width-650) {
    margin-top: 20px;
  }
  input {
    width: 320px;
    height: 45px;
    border-radius: 5px;
    border-style: solid;
    border-color: $red;
    font-size: 22px;
    padding-left: 10px;
    @include breakpoint(width-900) {
      width: 280px;
      height: 40px;
    }
    @include breakpoint(width-575) {
      width: 240px;
      height: 35px;
    }
  }
}

#filterInputBox__title {
  text-align: left;
  margin-bottom: 15px;
  margin-top: 40px;
  @include breakpoint(width-900) {
    text-align: left;
    font-size: 16px;
  }
}

input:focus {
  outline: none;
}

.filterInputBox input::placeholder {
  color: $red;
}
