/*       Temporary css for challenges.html      */


#challenges__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;


}

.img__container {
    background-image: url("media/hackerimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 363px;
    height: 219px;
}

.challenge {
    margin: 20px;
    width: 363px;
    height: 446px;
    border: 2px solid black;

}