.filterContainer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.filterContainer h1 {
  font-size: 48px;
  color: #011827;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 100px;
}
.filterContainer button {
  display: block;
  border-color: #e3170a;
  border-style: solid;
  border-radius: 4px;
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  font-size: 20px;
  color: #e3170a;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: px;
}

.filterButton:hover {
  background-color: #e3170a;
  color: #ffffff;
  cursor: pointer;
}

.filterWindow {
  display: none;
  width: 85vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  margin: 0;
  border-style: solid;
  border-color: #b6bdb5;
}
.filterWindow h2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0;
  margin: 0;
  color: #011827;
}
.filterWindow .closeFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #011827;
}
.filterWindow h3 {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  color: #011827;
}
@media (max-width: 1070px) {
  .filterWindow h3 {
    text-align: center;
  }
}
@media (max-width: 745px) {
  .filterWindow h3 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.filterWindow ul {
  list-style-type: none;
  padding: 0px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin: 0;
}
@media (max-width: 745px) {
  .filterWindow ul {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.filterWindow li {
  color: #011827;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 900px) {
  .filterWindow li {
    font-size: 16px;
  }
}
@media (max-width: 745px) {
  .filterWindow li {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .filterWindow li {
    font-size: 12px;
  }
}

.hidden {
  display: none;
}

@media (max-width: 745px) {
  .byTags {
    display: none;
  }
}

@media (max-width: 1070px) {
  .filterBytype {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 745px) {
  .filterBytype {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

#online,
#onsite {
  color: #011827;
}

#online,
#onsite:checked {
  color: #e3170a;
}

.fa-x {
  font-size: 30px;
  margin-bottom: 75px;
}
.fa-x:hover {
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.starBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 1px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}
@media (max-width: 1070px) {
  .starBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 25px;
  }
}
@media (max-width: 745px) {
  .starBox {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.starBox p {
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 20px;
}
@media (max-width: 1180px) {
  .starBox p {
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  .starBox p {
    font-size: 16px;
  }
}

.fa-star {
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e3170a;
  font-size: 18px;
  margin: 2px;
}
@media (max-width: 1180px) {
  .fa-star {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .fa-star {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .fa-star {
    font-size: 12px;
  }
}
.fa-star:hover {
  cursor: pointer;
}

.starBox__Star i,
.starBox__Star i:hover ~ i,
.starBox__Star i,
.starBox__Star i:hover ~ i {
  color: #ffffff;
  text-shadow: none;
  -webkit-transition: color 200ms;
  transition: color 200ms;
  cursor: pointer;
}

.starBox__Star:hover i,
.starBox__Star:hover i {
  color: #e3170a;
  cursor: pointer;
}

.starBox__Star i.checked {
  color: #e3170a;
}

.filterButtonBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media (max-width: 1180px) {
  .filterButtonBox {
    max-width: 300px;
  }
}
@media (max-width: 745px) {
  .filterButtonBox {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 40px;
  }
}
.filterButtonBox h3 {
  margin-bottom: 15px;
}
@media (min-width: 746px) {
  .filterButtonBox h3 {
    display: none;
  }
}
.filterButtonBox label {
  height: 30px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: #e3170a;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  color: #e3170a;
  font-family: Roboto, sans-serif;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  cursor: pointer;
}
@media (max-width: 1180px) {
  .filterButtonBox label {
    font-size: 16px;
    height: 25px;
    line-height: 25px;
  }
}
@media (max-width: 900px) {
  .filterButtonBox label {
    font-size: 14px;
  }
}
.filterButtonBox label:hover {
  background-color: #e3170a;
  color: #ffffff;
}

.filterTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100px;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media (max-width: 1180px) {
  .filterTags {
    max-width: 300px;
  }
}
@media (max-width: 745px) {
  .filterTags {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 130px;
    width: 400px;
  }
}
.filterTags label {
  height: 30px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: #e3170a;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  color: #e3170a;
  font-family: Roboto, sans-serif;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  cursor: pointer;
}
@media (max-width: 1180px) {
  .filterTags label {
    font-size: 16px;
    height: 25px;
    line-height: 25px;
  }
}
@media (max-width: 900px) {
  .filterTags label {
    font-size: 14px;
  }
}
.filterTags label:hover {
  background-color: #e3170a;
  color: #ffffff;
}

label.active {
  background-color: #e3170a;
  color: #ffffff;
}

.filterInputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 75px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media (max-width: 1180px) {
  .filterInputBox {
    margin-top: 50px;
  }
}
@media (max-width: 650px) {
  .filterInputBox {
    margin-top: 20px;
  }
}
.filterInputBox input {
  width: 320px;
  height: 45px;
  border-radius: 5px;
  border-style: solid;
  border-color: #e3170a;
  font-size: 22px;
  padding-left: 10px;
}
@media (max-width: 900px) {
  .filterInputBox input {
    width: 280px;
    height: 40px;
  }
}
@media (max-width: 575px) {
  .filterInputBox input {
    width: 240px;
    height: 35px;
  }
}

#filterInputBox__title {
  text-align: left;
  margin-bottom: 15px;
  margin-top: 40px;
}
@media (max-width: 900px) {
  #filterInputBox__title {
    text-align: left;
    font-size: 16px;
  }
}

input:focus {
  outline: none;
}

.filterInputBox input::-webkit-input-placeholder {
  color: #e3170a;
}

.filterInputBox input::-moz-placeholder {
  color: #e3170a;
}

.filterInputBox input:-ms-input-placeholder {
  color: #e3170a;
}

.filterInputBox input::-ms-input-placeholder {
  color: #e3170a;
}

.filterInputBox input::placeholder {
  color: #e3170a;
}